/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background-color: #690000;
}

.color-2 {
    background-color: #1a344f;
}

.color-3 {
    background-color: #ffd969;
}

.color-4 {
    background-color: #f2f2f2;
}

.color-5 {
    background-color: #e4e4e4;   
}


/* Textures or Patterns*/

.pattern-1 {
    
}


.pattern-2 {

}


.pattern-3 {
    
    
}


.pattern-4 {
   
    
}


.pattern-5{
    
    
}

/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */